.insurance-boxes .box {
    flex: 1 1 100%; /* یک ستون */
}
.hero-content h1 {
    font-size: 20px;
}
.hero-content p {
    font-size: 12px;
}
.hero-btn {
    font-size: 12px;
}
.blaze-pagination {
    display: none;
}