<header id="header">
    <div class="ContainerDiv">
        <div>
            <a href="tel:+989184449208">
                <img src="../../images/topBanner.png" height="76" width="1890" class="topBanner"
                     title="تخفیف شگفت انگیز" alt="DiscountBanner"/>
            </a>
        </div>
        <div class="topHeader">
            <div class="topLogo">
                <a href="../index.html" class="logo">
                    <img src="../../images/logo.png" height="33" width="275" alt="Insurance Logo" title="Sina Insurance"/>
                </a>
            </div>
            <div class="leftHeader text-decoration-none">
                «با آرامش خاطر زندگی کنید، نمایندگی ۶۵۶۹»
                <a href="tel:+989184449208">
                    <i class="fa-solid fa-mobile-vibrate SocialHeaderIcon VibratingPhone" title="Mobile Phone Number"></i>
                </a>
                <a href="tel:+988132530154">
                    <i class="fa-solid fa-tty SocialHeaderIcon" title="Insurance Shop Phone Number"></i>
                </a>
                <a href="https://www.instagram.com/bimesina_torabi/">
                    <i class="fa-brands fa-instagram SocialHeaderIcon" title="Instagram Page"></i>
                </a>
                <a href="https://t.me/bimeh_torabi">
                    <i class="fa-brands fa-telegram SocialHeaderIcon" title="Telegram Page"></i>
                </a>
            </div>
        </div>
    </div>
</header>

<nav id="mainNav" aria-label="Main Navigation">
    <ul class="navItems">
        <li class="navItem">
            <a href="../../Sina%20Insurance/index.html" class="navLink">
                <i class="fa-solid fa-angles-left navArrowColor"></i>
                صفحه اصلی
            </a>
        </li>
        <span class="menuSeparator">|</span>
        <li class="navItem">
            <a href="#" class="navLink">
                <i class="fa-solid fa-angles-left navArrowColor navArrow"></i>
                خودرو
            </a>
            <div class="subMenu">
                <a href="#" class="navLink">
                    <i class="fa-solid  fa-car"></i>
                    شخص ثالث
                </a>
                <a href="#" class="navLink">
                    <i class="fa-solid  fa-car-side"></i>
                    بدنه
                </a>
            </div>
        </li>
        <span class="menuSeparator">|</span>
        <li class="navItem">
            <a href="#" class="navLink">
                <i class="fa-solid fa-angles-left navArrowColor navArrow"></i>

                مسئولیت
            </a>
            <div class="subMenu">
                <a href="#" class="navLink">
                    <i class="fa-solid  fa-user-tie"></i>
                    کارفرما
                </a>
                <a href="#" class="navLink">
                    <i class="fa-solid  fa-users"></i>
                    عمومی</a>
                <a href="#" class="navLink">
                    <i class="fa-solid  fa-user-check"></i>
                    مدیران</a>
                <a href="#" class="navLink">
                    <i class="fa-solid  fa-user-doctor"></i>
                    حرفه‌ای</a>
                <a href="#" class="navLink">
                    <i class="fa-solid  fa-file-signature"></i>
                    قراردادی</a>
            </div>
        </li>
        <span class="menuSeparator">|</span>
        <li class="navItem">
            <a href="#" class="navLink">
                <i class="fa-solid fa-angles-left navArrowColor navArrow"></i>
                آتش‌سوزی
            </a>
            <div class="subMenu">
                <a href="#" class="navLink">
                    <i class="fa-solid  fa-building"></i>
                     مسکونی
                </a>
                <a href="#" class="navLink">
                    <i class="fa-solid  fa-industry"></i>
                    صنعتی 
                </a>
                <a href="#" class="navLink">
                    <i class="fa-solid  fa-fire"></i>
                     غیرصنعتی
                </a>
                <a href="#" class="navLink">
                    <i class="fa-solid  fa-warehouse"></i>
                    انبار 
                </a>
            </div>
        </li>
        <span class="menuSeparator">|</span>
        <li class="navItem">
            <a href="#" class="navLink">
                <i class="fa-solid fa-angles-left navArrowColor navArrow"></i>
                مهندسی
            </a>
            <div class="subMenu">
                <a href="#" class="navLink">
                    <i class="fa-solid  fa-mobile"></i>
                    تجهیزات الکترونیک
                </a>
                <a href="#" class="navLink">
                    <i class="fa-solid  fa-user-tie"></i>
                    تمام خطر پیمانکاران
                </a>
                <a href="#" class="navLink">
                    <i class="fa-solid  fa-house-crack"></i>
                    تمام خطر نصب
                </a>
                <a href="#" class="navLink">
                    <i class="fa-solid  fa-building"></i>
                    کیفیت ساختمان
                </a>
            </div>
        </li>
        <span class="menuSeparator">|</span>
        <li class="navItem">
            <a href="#" class="navLink">
                <i class="fa-solid fa-angles-left navArrowColor navArrow"></i>
                عمر
            </a>
            <div class="subMenu">
                <a href="#" class="navLink">
                    <i class="fa-solid  fa-money-bill-trend-up"></i>
                    مستمری
                </a>
                <a href="#" class="navLink">
                    <i class="fa-solid  fa-person-dress"></i>
                    زنان خانه‌دار
                </a>
                <a href="#" class="navLink">
                    <i class="fa-solid  fa-dollar"></i>
                    پس‌انداز
                </a>
            </div>
        </li>
        <span class="menuSeparator">|</span>
        <li class="navItem">
            <a href="#" class="navLink">
                <i class="fa-solid fa-angles-left navArrowColor "></i>
                مجله بیمه
            </a>
        </li>
        <span class="menuSeparator">|</span>
        <li class="navItem">
            <a href="../html/contact/ourInfo.html" class="navLink">
                <i class="fa-solid fa-angles-left navArrowColor navArrow"></i>
                تماس با ما
            </a>
            <div class="subMenu">
                <a href="../html/contact/ourInfo.html" class="navLink">
                    <i class="fa-solid  fa-flag-checkered"></i>
                    اطلاعات تماس </a>
                <a href="https://neshan.org/maps/places/_bsKx8Y56jNG#c34.796-48.511-21z-0p" class="navLink">
                    <i class="fa-solid  fa-location"></i>
                    محل دفتر </a>
            </div>
        </li>
        <li class="navItem lastItem navLogin">
            <a href="#" class="navLink ">
                <i class="fa-solid fa-user-tie userIcon"></i>
                حساب کاربری
            </a>
        </li>

    </ul>
</nav>
